//- index.jade
extends ./layout.jade

block specificJS
	script(type='text/javascript', src='/js/demo.js')
	script(type='text/javascript', src='/js/personality.js')
	script(type='text/javascript', src='/js/textsummary.js')
	script(type='text/javascript', src='/js/jquery.circliful.min.js')

block content
	div.row(style="min-height: 210px")
		div#userInfo.col-lg-4.col-xs-12.text-center(style='padding-top:25px;padding-bottom:55px;')
			span.col-lg-4.col-xs-12.text-center
				h2
					img(src='#{user.pictureUrl}',height='80px')
			span.col-lg-7.col-xs-12.text-left
				h2 #{user.fullName}
				p #{user.headline}
		div#concepts.col-lg-offset-2.col-lg-6.col-xs-12(style='display: none;')
			H3 Your top concepts
			div#concept1.circle(data-dimension='120',data-width='10',data-fontsize='15',data-fgcolor='#00B2EF',data-bgcolor='#eee',data-fill='#ddd')
			div#concept2.circle(data-dimension='120',data-width='10',data-fontsize='15',data-fgcolor='#00B2EF',data-bgcolor='#eee',data-fill='#ddd')
			div#concept3.circle(data-dimension='120',data-width='10',data-fontsize='15',data-fgcolor='#00B2EF',data-bgcolor='#eee',data-fill='#ddd')
			div#concept4.circle(data-dimension='120',data-width='10',data-fontsize='15',data-fgcolor='#00B2EF	',data-bgcolor='#eee',data-fill='#ddd')
			//div.well.content(style='display:none;')
		
		div.col-lg-8.col-xs-12#summary
			div.row.form-group
				div.col-lg-12.col-xs-12
					h3 Review and update your profile text
					textarea#txt-profile.content.form-control(rows='10', required='true',
						placeholder='Please enter the text to analyze (minimum of 100 words)...')
						|#{user.data}
					div.text-right
						span.wordsCount.small
			div.row.form-group
				div.col-xs-3
					button#back-btn.btn.btn-block(type='button',onClick='javascript:history.back();') Back
				div.col-xs-3
					button#clear-btn.btn.btn-block(type='button') Clear
				div.col-xs-4.col-xs-offset-2
					button#analysis-btn.btn.btn-block(type='button') Analyze
	
	div.row(style='padding-top:10px;')
		div.col-lg-6.col-xs-12.text-justify.personality(style='display:none;')
			div.row
				h3 #{user.fullName}'s Personality*
				div.well
					div.summary-div
					div.text-right(style='color: gray')
						em.small *Compared to most people who participated in our surveys.
			//
				div.row
					div.col-lg-12
						div#chart
			div.row
				h2 Visualization
				p Big 5, Needs and Values attributes
				div.col-lg-12
					div.well#vizcontainer.text-center.results(style='display:none;')
		
		div#loading.row.col-lg-6.col-xs-12.text-center(style='display:none;')
			img(src='/images/watson.gif')
		
		div.col-lg-6.col-xs-12
			div#positions.col-lg-12.col-xs-12(style='display: none;min-height:200px;')
				h3 Suggested jobs
				h4 
					small Click the job title to see other candidates.
				div.content
	
	div.col-lg-6.col-md-6.col-xs-12
		div.row
			div.form-group.row.loading1.text-center(style='display:none;')
				h2 &nbsp;
				img(src='/images/watson.gif')
			div.form-group.row.error(style='display: none;')
				h2 &nbsp;
				div.well
					p.errorMsg
	div#raw.hidden #{JSON.stringify(user)}